<section id="calendar">
	<header class="major">
		{{ with .Site.Params.calendar.title }}<h2>{{ . | markdownify }} </h2>{{ end }}
	</header>
	<div style="display:flex;flex-direction:row;justify-content: space-around;">
		<div style="display:flex;flex-direction:column;width:100%;"><iframe src="https://calendar.google.com/calendar/embed?src=pokemonpres%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></div>
	</div>
  <div style="display:flex;flex-direction:row;justify-content: space-around;">
		{{ with .Site.Params.calendar.content }}<p>{{ . | markdownify }}</p>{{ end }}
	</div>
	<br>
</section>
