{{ define "main" }}
    <h1>Page not found</h1>

    <img src="https://github.com/pokemonclub/SJSUPokemonClubWebsite/blob/master/site/static/images/Porygon.png" alt="Porygon" width="500" height="333">

    <p>Meowth! You seem to have taken a wrong turn! It looks like this was the result of either:</p>

    <ul>
        <li>A mistyped URL, or a copy-and-paste mistakex</li>
        <li>A broken link on a web pages or in an email</li>
        <li>Moved or deleted content</li>
    </ul>

    <p>I suggest that you head back <a href="{{ .Site.BaseURL }}">home</a>     from here.</p>
{{ end }}
